<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jarrod Schnapper">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Halant:600|Nunito+Sans:300,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <title>About | Econ 198</title>
  </head>
  <body>
    <nav class="nav-wr">
      <div class="nav-content content-wr">
        <a class="nav-hr-link" href="index.html">
          <h3>Econ 198</h3>
        </a>
        <div class="nav-items">
          <a class="nav-link nav-def" href="../index.html">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link nav-def" href="./policies.html">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link nav-def" href="./resources.html">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link nav-def" href="">
            <div class="__item">About</div>
          </a>
        </div>
        <div class="menu-container">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </nav>
    <nav class="dropdown-wr">
      <div class="content-wr">
        <div class="dropdown-container">
          <a class="nav-link nav-drop" href="../index.html">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link nav-drop" href="./policies.html">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link nav-drop" href="./resources.html">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link nav-drop" href="">
            <div class="__item">About</div>
          </a>
        </div>
      </div>
    </nav>
    <div class="page-container">
      <header class="content-wr">
        <h1 class="section-hr">About</h1>
      </header>
      <!--  DESCRIPTION -->
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Course Description</h3>
          <p>
            The purpose of this course is to provide an overview of quantitative trading and help students develop the skills necessary to solve problems in financial markets. The course places a strong emphasis on quantitative approaches to trading, but is designed to be accessible to students of various academic backgrounds. After taking this course, students will understand how to become further involved in quantitative trading (either independently or by joining a trading firm).
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
