<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jarrod Schnapper">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Home | Econ 198</title>
  </head>
  <body>
    <nav class="nav-wr">
      <div class="nav-content content-wr">
        <a class="nav-hr-link" href="">
          <h3>Econ 198</h3>
        </a>
        <div class="nav-items">
          <a class="nav-link" href="">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link" href="./policies.html">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link" href="./resources.html">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link" href="./about.html">
            <div class="__item">About</div>
          </a>
        </div>
      </div>
    </nav>
    <div class="page-container">
      <header class="content-wr">
        <h1 class="section-hr">Econ 198: Quantitative Trading</h1>
        <ul class="sub-header">
          <li class="sub-item">Fall 2018</li>
          <li class="sub-item">Fridays 4:00 - 5:30pm</li>
          <li class="sub-item">Evans 597</li>
        </ul>
        <ul class="sub-header">
          <li class="sub-item">Instructors: Ying (Emily) Wang & Sam Choi</li>
        </ul>
      </header>
      <!--  SCHEDULE -->
      <section class="content-wr">
        <h3 class="section-hr">Schedule</h3>
        <div class="schedule-container">
          <table class="schedule-table">
            <thead>
              <th class="th-week section-hr">Week</th>
              <th class="th-date section-hr">Date</th>
              <th class="th-lecture section-hr">Lecture</th>
              <th class="th-assignment section-hr">Assignment</th>
            </thead>
            <tbody>
              <!-- WEEK 1: 9/7/18 -->
              <tr>
                <td class="td-week">1</td>
                <td class="td-date">9/7/18</td>
                <td class="td-lecture">Introduction: Syllabus, Course Overview, Background</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li class="assignment-wr"><a class="assignment-item">Longer Reading Example</a><div class="due">Due 9/14</div></li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 2: 9/14/18 -->
              <tr>
                <td class="td-week">2</td>
                <td class="td-date">9/14/18</td>
                <td class="td-lecture">The Fundamental Approach</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li class="assignment-wr"><a class="assignment-item">Reading Example</a><div class="due">Due 9/21</div></li>
                    <li class="assignment-wr"><a class="assignment-item">Longer Reading Example</a><div class="due">Due 9/21</div></li>
                    <li class="assignment-wr"><a class="assignment-item">Reading Example</a><div class="due">Due 9/21</div></li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 3: 9/21/18 -->
              <tr>
                <td class="td-week">3</td>
                <td class="td-date">9/21/18</td>
                <td class="td-lecture">The Quantitative Approach</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 4: 9/28/18 -->
              <tr>
                <td class="td-week">4</td>
                <td class="td-date">9/28/18</td>
                <td class="td-lecture">Prevalent Strategies and Ideas in Quantitative Trading</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 5: 10/5/18 -->
              <tr>
                <td class="td-week">5</td>
                <td class="td-date">10/5/18</td>
                <td class="td-lecture">Prevalent Strategies and Ideas in Quantitative Trading (continued)</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 6: 10/12/18 -->
              <tr>
                <td class="td-week">6</td>
                <td class="td-date">10/12/18</td>
                <td class="td-lecture">Data Analysis</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 7: 10/19/18 -->
              <tr>
                <td class="td-week">7</td>
                <td class="td-date">10/19/18</td>
                <td class="td-lecture">Data Analysis (continued)</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 8: 10/26/18 -->
              <tr>
                <td class="td-week">8</td>
                <td class="td-date">10/26/18</td>
                <td class="td-lecture">Risk Management</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 9: 11/2/18 -->
              <tr>
                <td class="td-week">9</td>
                <td class="td-date">11/2/18</td>
                <td class="td-lecture">Speaker / Selected Topic (TBD)</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 10: 11/9/18 -->
              <tr>
                <td class="td-week">10</td>
                <td class="td-date">11/9/18</td>
                <td class="td-lecture">Speaker / Selected Topics (TBD)</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 11: 11/16/18 -->
              <tr>
                <td class="td-week">11</td>
                <td class="td-date">11/16/18</td>
                <td class="td-lecture">Project Presentations</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
              <!-- WEEK 12: 11/30/18 -->
              <tr>
                <td class="td-week">12</td>
                <td class="td-date">11/30/18</td>
                <td class="td-lecture">Conclusion</td>
                <td class="td-assignment">
                  <ul class="no-list-style">
                    <li>tba</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>
