<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jarrod Schnapper">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <title>Policies | Econ 198</title>
  </head>
  <body>
    <nav class="nav-wr">
      <div class="nav-content content-wr">
        <a class="nav-hr-link" href="../index.html">
          <h3>Econ 198</h3>
        </a>
        <div class="nav-items">
          <a class="nav-link nav-def" href="../index.html">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link nav-def" href="">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link nav-def" href="./resources.html">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link nav-def" href="./about.html">
            <div class="__item">About</div>
          </a>
        </div>
        <div class="menu-container">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </nav>
    <nav class="dropdown-wr">
      <div class="content-wr">
        <div class="dropdown-container">
          <a class="nav-link nav-drop" href="../index.html">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link nav-drop" href="">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link nav-drop" href="./resources.html">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link nav-drop" href="./about.html">
            <div class="__item">About</div>
          </a>
        </div>
      </div>
    </nav>
    <div class="page-container">
      <header class="content-wr">
        <h1 class="section-hr">Policies</h1>
      </header>
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Prerequisites</h3>
          <ul>
            <li>Probability and Statistics</li>
            <li>Fundamental Analysis</li>
            <li>Macroeconomics</li>
            <li>Behavioral Economics</li>
            <li>Market microstructure</li>
            <li>Data-driven decision making</li>
            <li>Prediction and Forecasting</li>
            <li>Machine Learning and Artificial Intelligence</li>
          </ul>
        </div>
      </section>
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Texts</h3>
          <p>
            Throughout the course, readings will be assigned on various relevant subjects. All readings will be made available to students upon assignment.
          </p>
        </div>
      </section>
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Assignment</h3>
          <ul>
            <li>Weekly readings and homework will be assigned</li>
            <li>Weekly quizzes will be administered to review content from lecture and the readings</li>
            <li>A cumulative project and presentation will be assigned in lieu of a final</li>
          </ul>
        </div>
      </section>
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Grading</h3>
          <ul>
            <li>30% Attendance/Participation</li>
            <li>40% Homework</li>
            <li>10% Quizzes</li>
            <li>20% Project</li>
          </ul>
          <p>
            In order to pass this course (receive a P), students must receive a minimum grade of 60%. This entails making a best effort to attend lectures, and complete assignments/assessments.
          </p>
        </div>
      </section>
      <section class="content-wr">
        <div class="content">
          <h3 class="section-hr">Guest Speakers</h3>
          <p>
            Throughout the course, quantitative traders, researchers, and strategists from various firms may be brought in to offer their experience gained from industry and academia.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
