<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jarrod Schnapper">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Resources | Econ 198</title>
  </head>
  <body>
    <nav class="nav-wr">
      <div class="nav-content content-wr">
        <a class="nav-hr-link" href="../index.html">
          <h3>Econ 198</h3>
        </a>
        <div class="nav-items">
          <a class="nav-link nav-def" href="../index.html">
            <div class="__item">Schedule</div>
          </a>
          <a class="nav-link nav-def" href="./policies.html">
            <div class="__item">Policies</div>
          </a>
          <a class="nav-link nav-def" href="">
            <div class="__item">Resources</div>
          </a>
          <a class="nav-link nav-def" href="./about.html">
            <div class="__item">About</div>
          </a>
        </div>
      </div>
    </nav>
    <div class="page-container">
      <header class="content-wr">
        <h1 class="section-hr">Resources</h1>
      </header>
      <!--  DESCRIPTION -->
      <section class="content-wr">
        <div class="content">
          <p>
          Find supplemental resources for the course here
          </p>
          <ul class="no-list-style">
            <li><a href="../assets/resources/supplemental/econ198_fall2018_syllabus.pdf" class="resource-item" target="_blank">Syllabus</a></li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
