/******************/
/**** DEFAULTS ****/
/******************/
:root {
  --primary: #8DA7BE;
  --primary-light: #C0CFDB;
  --primary-lighter: #DFE7ED;
  --header-color: #4D5C68;
  --black: #0A0908;
  --white: #FCFAFA;
}


body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  margin: 0;
  min-width: 240px;
  padding: 0;
}

h1 {
  border-bottom: 2px dotted var(--primary-lighter);
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin: 8px 0;
  padding: 4px 0;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  margin: 0;
}


header {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

/*********************/
/**** TABLE STYLE ****/
/*********************/


.th-week,
.td-week {
  text-align: center;
  width: 3em;
}
.th-date,
.td-date {
  text-align: center;
  width: 6em;
}

table {
  cursor: default;
}

tbody tr:nth-child(odd) {
  background-color: var(--primary-light);
  transition: 0.2s;
}
tbody tr:nth-child(even) {
  background-color: var(--primary-lighter);
  transition: 0.2s;
}

td {
  padding: 8px;
  border: 2px solid var(--white);
}

.schedule-container {
  border: 1px solid transparent;
  transition: 0.2s;
  width: 100%;
}

.schedule-table {
  border-collapse: collapse;
  margin: 1em 0;
  padding: 10px 0;
  width: 100%;
}

/*********************/
/**** PAGE STYLES ****/
/*********************/

.assignment-item,
.assignment-item:visited  {
  color: var(--black);
  cursor: pointer;
  opacity: 0.8;
  text-decoration: underline;
  white-space: nowrap;
}

.assignment-item:hover {
  opacity: 0.4;
}

.assignment-wr {
  background-color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 12px;
  display: inline-block;
  margin: 4px 0;
  padding: 2px 8px;
}

.content-wr {
  max-width: 80em;
  width: 80%;
}

.content {
  line-height: 1.25;
}

.dropdown-wr {
  display: none;
  justify-content: center;
  width: 100%;
  position: absolute;
  transition: 0.2s;
}

.dropdown-wr .content-wr {
  position: absolute;
}

.dropdown-container {
  background-color: var(--primary);
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
  display: none;
  height: 0;
  overflow: hidden;
  position: absolute;;
  transition: 0.5s;
  width: 100%;
  z-index: 4;
}

.open.dropdown-container {
  display: block;
  height: auto;
}

.due {
  display: inline-block;
  padding-left: 8px;
}

.menu-container {
  cursor: pointer;
  display: none;
  margin: 8px 0;
}

.menu-container:hover {
  opacity: 0.7;
}

.menu-container .bar {
  background-color: var(--white);
  border-radius: 4px;
  margin: 4px 0;
  height: 4px;
  width: 32px;
  transform-origin: right;
  transition: 0.4s;
}

.open.bar:first-child {
  transform: rotate(-45deg);
  width: 22px;
}

.open.bar:nth-child(2) {
  transform: scale(0);
}

.open.bar:nth-child(3) {
  transform: rotate(45deg);
  width: 22px;
}


.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-hr-link,
.nav-hr-link:visited {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.nav-hr-link:hover {
  color: var(--primary-lighter);
}

.nav-items {
  display: flex;
}

.nav-link,
.nav-link:visited {
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav-def {
  margin-left: 8px;
  padding: 12px 8px;
}

.nav-drop {
  padding: 12px 0;
}

.nav-link:not(.active):hover  {
  background-color: var(--white);
  color: var(--primary);
}

.nav-wr {
  align-items: center;
  background-color: var(--primary);
  box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
  color: var(--white);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.nav-wr-dropdown {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.resource-item,
.resource-item:visited {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}

.resource-item:hover {
  color: var(--primary-light);
  text-decoration: underline;
}

.section-hr {
  color: var(--header-color);
}

.sub-header {
  color: var(--primary);
  display: flex;
  list-style: none;
  margin: 4px 0;
  padding: 0;
}

.sub-header .sub-item {
  margin-right: 32px;
}

@media (max-width: 875px) {
  .schedule-container {
    border: 2px solid var(--primary-lighter);
    border-radius: 4px;
    margin-top: 1em;
    overflow-y: hidden;
    overflow-x: visible;
    padding: 0px 4px;
  }

  .schedule-table {
    min-width: 700px;
  }

}

@media (max-width: 700px) {
  .dropdown-wr {
    display: flex;
  }
  .menu-container {
    display: block;
  }
  .nav-items {
    display: none;
  }

}
