/******************/
/**** DEFAULTS ****/
/******************/
:root {
  --primary: #8DA7BE;
  --primary-light: #C0CFDB;
  --primary-lighter: #DFE7ED;
  --header-color: #4D5C68;
}


body {
  background-color: #FCFAFA;
  color: #0A0908;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

h1 {
  border-bottom: 2px dotted var(--primary-lighter);
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin: 8px 0;
  padding: 4px 0;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  margin: 0;
}


header,
section {
  padding: 20px;
}

/*********************/
/**** TABLE STYLE ****/
/*********************/


.th-week,
.td-week {
  text-align: center;
  width: 3em;
}
.th-date,
.td-date {
  text-align: center;
  width: 6em;
}

table {
  cursor: default;
}

tbody tr:nth-child(odd) {
  background-color: var(--primary-light);
  transition: 0.2s;
}
tbody tr:nth-child(even) {
  background-color: var(--primary-lighter);
  transition: 0.2s;
}

td {
  padding: 8px;
  border: 2px solid #FCFAFA;
}

tbody tr:hover {
  opacity: 0.8;
}

.schedule-container {
  border: 1px solid transparent;
  transition: 0.2s;
  width: 100%;
}

.schedule-table {
  border-collapse: collapse;
  margin: 1em 0;
  padding: 10px 0;
  width: 100%;
}

/*********************/
/**** PAGE STYLES ****/
/*********************/

.content-wr {
  max-width: 80em;
  width: 80%;
}

.description {
  line-height: 1.25;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-hr-link,
.nav-hr-link:visited {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.nav-items {
  display: flex;
}

.nav-link,
.nav-link:visited {
  color: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 8px;
  padding: 12px 8px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.nav-link:not(.active):hover  {
  background-color: #FCFAFA;
  color: var(--primary);
}

.nav-wr {
  align-items: center;
  background-color: var(--primary);
  box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
  color: #FCFAFA;
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}



.section-hr {
  color: var(--header-color);
}

.sub-header {
  color: var(--primary);
  display: flex;
  list-style: none;
  margin: 4px 0;
  padding: 0;
}

.sub-header .sub-item {
  margin-right: 32px;
}

@media (max-width: 875px) {
  .schedule-container {
    border: 2px solid var(--primary-lighter);
    border-radius: 4px;
    margin-top: 1em;
    overflow-y: hidden;
    overflow-x: visible;
    padding: 0px 4px;
  }

  .schedule-table {
    min-width: 700px;
  }

}
